<%-contentFor('body')%>
    <div class="form-wrapper cf">
		<div class="section-1 six col">
			<div class="icon">
				<i class="fa fa-user fa-3x" aria-hidden="true"></i>
			</div>
			<h1>Login</h1>
			<p id="company-person"></p>
			<div class="row spacing">
                <p>We missed your contribute!</p>
                <form action="/login" method="POST" class="form">
                   <input class="inp" type="text" name="username" placeholder="Username">
				   <input class="inp" type="password" name="password" placeholder="Password">
                </form>
                <div class="row">
                    <p>With Social</p>
                    <div class="col-md-1">
                        <a href="#"><img  class="img img-responsive" src="img/facebook.png" alt=""></a>
                    </div>
                    <div class="col-md-1">
                        <a href="#"><img class="img img-responsive" src="img/google-plus.png" alt=""></a>
                    </div>
                    <div class="col-md-1">
                        <a href="#"><img class="img img-responsive" src="img/twitter.png" alt=""></a>
                    </div>
                </div>  
			</div>
		</div>
	</div>